 .spinner {
      width: 100px;
      height: 100px;
      background-color: red;
      margin: 10px auto;
      animation: rotateplane 2s infinite ease-in-out;
      background-color: $alertRed; 
    }

    @keyframes rotateplane {
      0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            background-color: $alertRed; 
         } 
      49% {transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          background-color:$alertGreen;
         } 
      100% {transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                background-color: $alertRed;
          }
    }