// rotating panel
@keyframes rotateplane {
  0% {
    transform: perspective(1200px) rotateX(0deg) rotateY(0deg);
        background-color: $alertRed; 
     } 
  49% {transform: perspective(1200px) rotateX(-180.1deg) rotateY(0deg);
      background-color:$alertGreen;
     } 
  100% {transform: perspective(1200px) rotateX(-180deg) rotateY(-179.9deg);
            background-color: $alertRed;
      }
}   

@keyframes rotateplane--good {
  0% {
    transform: perspective(1200px) rotateX(0deg) rotateY(0deg);
        background-color: $alertGreen; 
     } 
  49% {transform: perspective(1200px) rotateX(-180.1deg) rotateY(0deg);
      background-color:$alertRed;
     } 
  100% {transform: perspective(1200px) rotateX(-180deg) rotateY(-179.9deg);
            background-color: $alertGreen;
      }
}  

// h-go-away
@keyframes h-go-away {
  0% {transform:translateX(0%);}
  55% {transform:translateX(-10%);}
  85% {opacity:1;}
  100% {transform:translateX(110%) rotate(0.5deg);  opacity:0; visibility:hidden;}
}

//fade in / out
@keyframes fade-in {
  from {opacity:0;}
  to {opacity:1; animation-play-state:paused;}
}

@keyframes fade-out {
  from {opacity:1;}
  to {opacity:0; animation-play-state:paused; visibility:hidden;}
}


//zoom-in
@keyframes zoom-in {
  from {transform:scale(1);}
  to {transform:scale(1.2); animation-play-state:running;}
}

// change colors 
@keyframes change-colors {
  0% {background:$didier;}
  20% {background:$didier};
  25% {background:$fatima;}
  45% {background:$fatima;}
  50% {background:$irina;}
  70% {background:$irina;}
  75% {background:$zhang;}
  96% {background:$zhang;}
}