html, body {
    height:100%;
}

body {
    overflow: hidden;
}

p {
    line-height: 1.4;
}

button, .button {
    box-shadow: none;
    background-color:$red;
    &:active, &:focus  {
            box-shadow:0px 1px 0px darken($red, 50%) inset;
            background:darken($red, 20%);
        }
    &:hover {
        background:darken($red, 20%);
        box-shadow:0px 1px 0px darken($red, 50%) inset;
    }   
}

.button {
    padding:0.8125em 1.5em 0.75em;
}

button.disabled, button[disabled], .button.disabled, .button[disabled] {
    background:#333 !important;
}

strong, b {
    font-weight: 500;
}