html, body {
   // min-height:100%;
   overflow:hidden;
}

body {
    // overflow-x: hidden;
    // overflow-y:scroll;
       // -webkit-overflow-scrolling: touch;
}

p {
    line-height: 1.4;
}

button, .button {
    box-shadow: none;
    background-color:$red;
    &:active, &:focus  {
            box-shadow:0px 1px 0px darken($red, 50%) inset;
            background:darken($red, 20%);
        }
    &:hover {
        background:darken($red, 20%);
        box-shadow:0px 1px 0px darken($red, 50%) inset;
    }   
}

.button {
    padding:0.8125em 1.5em 0.75em;
}

button.disabled, button[disabled], .button.disabled, .button[disabled] {
    background:#333 !important;
}

strong, b {
    font-weight: 500;
}

svg {
    max-width: 100%;
    max-height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}