$black: black;
$white: white;
$red: #e9573f;
$grey: rgba(#f0f0f0, 0.2);
$lightGrey: #ccc;


/* IRINA */
$irina: #169E83;
$irina-second: #1ABA9A;

/* ZHANG */
$zhang: #f39c12;
$zhang-second: #f1c40f;

/* FATIMA */
$fatima: #c0392b;
$fatima-second: #e74c3c;

/* DIDIER */
$didier: #2980b9;
$didier-second: #3498db;