// end game

.page {
    color:$white;
    position:relative;
    z-index: 100;

}
.page__article {
   margin-top:3em;
   max-width: 30rem;

    @extend .text-center;
    color:$white;
    @include grid-column(
        $columns:12,
        $center:true
    );
    @media #{$large-up} {
        @include grid-column(
            $columns:6,
            $center:true
        );
        margin-top:3rem;
    }
}


.page__aside {
    @extend .page;
    @extend .text-center;
    margin:5rem auto 5rem;

    @include grid-column(
        $columns:12,
        $center:true
    );
    @media #{$large-up} {
        @include grid-column(
            $columns:12,
            $center:false,
            $float:right
        );
    }
}

.page__section {
    @include grid-column(
        $columns:12,
        $center:true,
        $collapse:true
    );
    //max-width:20rem;
    margin-top:1rem;
    margin-bottom:1rem;

    @media #{$medium-up} {
        @include grid-column(
            $columns:6,
            $center:false
        );
    }
}
.section--playagain {
    @media #{$medium-up} {
        float:right;
    }
}

.page__footer {
     @include grid-column(
        $columns:12
    );
    text-align: center;
}

.page__title {
    color:$white;
    font-weight:500;
    letter-spacing: 1px;
    font-size:rem-calc(23);
}

.page--maintitle {
    text-transform: uppercase;
    font-size:rem-calc(27);
}

.page__text {
    //font-size:rem-calc(27);
    font-size:rem-calc(18);
    font-weight: 300;
}


.title--pagesection {
    font-size:rem-calc(23);
    color:$white;
    border-bottom:1px solid $lightGrey;
}

.playagain__link {
    text-transform: lowercase;
}


.share__inner {
    margin-top:1rem;
}

.sharer-link {
    display: flex;
    align-items:center;
    justify-content:space-around;
    padding:0.25rem;
    border-radius:2px;
    color:$white;

     &:active, &:focus, &:hover  {
        color:$white;
        box-shadow:0px 1px 0px darken($red, 50%) inset;
        background:$red;
    }
}

.facebook--sharer {
    background: #3B5999;
    //box-shadow:0px 1px 0px darken(#3B5999, 50%) inset;
}

.twitter--sharer {
    background: #55ACEE;
    //box-shadow:0px 1px 0px darken(#55ACEE, 50%) inset;
}

.share__buttons {
   //   max-width:rem-calc(235);
    margin:0 auto;
    @include block-grid(
        $per-row:2,
        $spacing:1rem
        );    
}

.credits__link {
    @extend %monospace-text;
}
