// compressed
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700,400italic,300italic,700italic);

@font-face {
    font-family: 'PFDinTextCompPro';
    src: url('../fonts/pfdintextcomppro-thin.eot');
    src: url('../fonts/pfdintextcomppro-thin.eot') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-thin.woff') format('woff'),
         url('../fonts/pfdintextcomppro-thin.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-thin.svg#PFDinTextCompProThin') format('svg');
    font-style: normal;
    font-weight:100;   
}

@font-face {
    font-family: 'PFDinTextCompPro';
    src: url('../fonts/pfdintextcomppro-light.eot');
    src: url('../fonts/pfdintextcomppro-light.eot') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-light.woff') format('woff'),
         url('../fonts/pfdintextcomppro-light.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-light.svg#PFDinTextCompProLight') format('svg');
    font-style: normal;
    font-weight:300;     
}


@font-face {
    font-family: 'PFDinTextCompPro';
    src: url('../fonts/pfdintextcomppro-medium.eot');
    src: url('../fonts/pfdintextcomppro-medium.eot') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-medium.woff') format('woff'),
         url('../fonts/pfdintextcomppro-medium.ttf') format('truetype'),
         url('../fonts/pfdintextcomppro-medium.svg#PFDinTextCompProMedium') format('svg');
       
    font-style: normal;
    font-weight:500;   
}

// Condensed
@font-face {
    font-family: 'PFDinTextCondPro';
    src: url('../fonts/pfdintextcondpro-light.eot');
    src: url('../fonts/pfdintextcondpro-light.eot') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-light.woff') format('woff'),
         url('../fonts/pfdintextcondpro-light.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-light.svg#PFDinTextCondProLight') format('svg');
    font-style: normal;
    font-weight:300;   
}

// fira 

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/eot/FiraSans-Light.eot');
    src: local('Fira Sans Light'),
         url('../fonts/fira/eot/FiraSans-Light.eot') format('embedded-opentype'),
         url('../fonts/fira/woff/FiraSans-Light.woff') format('woff'),
         url('../fonts/fira/ttf/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/eot/FiraSans-LightItalic.eot');
    src: local('Fira Sans Light Italic'),
         url('../fonts/fira/eot/FiraSans-LightItalic.eot') format('embedded-opentype'),
         url('../fonts/fira/woff/FiraSans-LightItalic.woff') format('woff'),
         url('../fonts/fira/ttf/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/eot/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
         url('../fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
         url('../fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
         url('../fonts/fira/ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/eot/FiraSans-RegularItalic.eot');
    src: local('Fira Sans Regular Italic'),
         url('../fonts/fira/eot/FiraSans-RegularItalic.eot') format('embedded-opentype'),
         url('../fonts/fira/woff/FiraSans-RegularItalic.woff') format('woff'),
         url('../fonts/fira/ttf/FiraSans-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/eot/FiraSans-Medium.eot');
    src: local('Fira Sans Medium'),
         url('../fonts/fira/eot/FiraSans-Medium.eot') format('embedded-opentype'),
         url('../fonts/fira/woff/FiraSans-Medium.woff') format('woff'),
         url('../fonts/fira/ttf/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/eot/FiraSans-MediumItalic.eot');
    src: local('Fira Sans Medium Italic'),
         url('../fonts/fira/eot/FiraSans-MediumItalic.eot') format('embedded-opentype'),
         url('../fonts/fira/woff/FiraSans-MediumItalic.woff') format('woff'),
         url('../fonts/fira/ttf/FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/eot/FiraSans-Bold.eot');
    src: local('Fira Sans Bold'),
         url('../fonts/fira/eot/FiraSans-Bold.eot') format('embedded-opentype'),
         url('../fonts/fira/woff/FiraSans-Bold.woff') format('woff'),
         url('../fonts/fira/ttf/FiraSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/fira/eot/FiraSans-BoldItalic.eot');
    src: local('Fira Sans Bold Italic'),
         url('../fonts/fira/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'),
         url('../fonts/fira/woff/FiraSans-BoldItalic.woff') format('woff'),
         url('../fonts/fira/ttf/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('../fonts/fira/eot/FiraMono-Regular.eot');
    src: local('Fira Mono'),
         url('../fonts/fira/eot/FiraMono-Regular.eot') format('embedded-opentype'),
         url('../fonts/fira/woff/FiraMono-Regular.woff') format('woff'),
         url('../fonts/fira/ttf/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('../fonts/fira/eot/FiraMono-Bold.eot');
    src: local('Fira Mono Bold'),
         url('../fonts/fira/eot/FiraMono-Bold.eot') format('embedded-opentype'),
         url('../fonts/fira/woff/FiraMono-Bold.woff') format('woff'),
         url('../fonts/fira/ttf/FiraMono-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


// icons
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icons/fonts/icomoon.eot');
    src:url('../fonts/icons/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons/fonts/icomoon.woff') format('woff'),
        url('../fonts/icons/fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icons/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-skull, .icon-danger, .icon-bomb, .icon-thumb-down, .icon-thumb-up, .icon-money, .icon-sad, .icon-happy, .icon-time, .icon-arrow-rt, .icon-arrow-lt, .icon-arrow-left, .icon-arrow-right {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-skull:before {
    content: "\271d";
}
.icon-danger:before {
    content: "\2757";
}
.icon-bomb:before {
    content: "\2b55";
}
.icon-thumb-down:before {
    content: "\e003";
}
.icon-thumb-up:before {
    content: "\e004";
}
.icon-money:before {
    content: "\e000";
}
.icon-sad:before {
    content: "\2639";
}
.icon-happy:before {
    content: "\263a";
}
.icon-time:before {
    content: "\23f0";
}
.icon-arrow-rt:before {
    content: "\2192";
}
.icon-arrow-lt:before {
    content: "\2190";
}
.icon-arrow-left:before {
    content: "\21e0";
}
.icon-arrow-right:before {
    content: "\21e2";
}

