%h100 {
    height:100%;
}
%w100 {
    width:100%;
}

.off-canvas-wrap {
    @extend %h100;
    @media #{$large-up} {
        @extend %w100;
    }
}

.inner-wrap {
    @extend %h100;
}

.sidebar-section {
    left:0;
    @media #{$large-up} {
        width:25%;
        transform: translate3d(0, 0px, 0px);
    }
}

.main-section {
    @extend %h100;
    @media #{$large-up} {
        position:relative;
        width:75%;
        float:right;
    }
}

