/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/


.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    @media #{$large-up} {
        top: 40%;
    }
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba($black,0.5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-overlay.show {
    opacity: 1;
    visibility: visible;
}

/* Content styles */
.md-content {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    padding: 1.875em;
    position: relative;
}

.md-close {
    color: #AAAAAA;
    cursor: pointer;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    right: 0.6875em;
    top: 0.5em;
}




