%cover-all {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

%box {
    flex: 1;
    background-color: rgba($white, 0.95);
    color: $black;
    margin-top: 5em;
    padding: 2em 0.9375em;
}

%bottom-line {
    border-bottom: 1px solid $lightGrey;
}
%top-line {
    border-top: 1px solid $grey;
    padding-top:0.5em;
}

%scena-text {
    display: block;
    margin: 0 auto 1.25em;
    max-width: 22em;
    font-weight: 300;
}

%vertical-rithm {
    margin-top:0.5rem;
}


// Dialog block
.dialog {
    @extend %cover-all;
    @extend .text-center;
    @include grid-column(
        $columns:12
    );
    visibility: hidden;
    position:absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    @media #{$large-up} {
        overflow-y: hidden;
    }
}
.dialog__inner {
    @extend %box;
    //large-7
    @include grid-column(
    $columns:12,
    $center:true
    );

    @media #{$medium-up} {
        @include grid-column(
        $columns:7
        );
    }
}
.dialog__title {
    @extend %bottom-line;
}
.dialog__text {
    @extend %scena-text;
}
.dialog__buttons {
    @extend %bottom-line;
    button {
        font-size: 0.9rem;
        margin-right: 0.5rem;
    }
}


// Variazione modifier
.dialog--variazione__inner {
    @include grid-column(
        //large5
    $columns:11,
    $center:true
    );

    @media #{$medium-up} {
        @include grid-column(
        $columns:6
        );
    }
}

.variazione__block {
    font-size:rem-calc(23);
    position:relative;
    margin: 1.5em 0;
    text-align: left;
}

.variazione__item {
    position:absolute;
    background:#ddd;
    left: 0;
    padding: 0.5rem 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 40px;
    @media #{$large-up} {
        width:50%;
        margin-left: 25%;
    }
}

.variazione__cube {
    height:40px;
}
.variazione__icon {
    left: 0.5em;
    position: relative;
    top: 0.35em;
    z-index: 10;
}
//Player block
.player {
    overflow-x:hidden;
    color:$white;
    @include headings() {
        color:$white;
    }
    @media #{$large-up} {
        background-color:rgba($black, 0.6);
    }
}

.player-title {
    text-align:center;
    font-weight:500; 
}

.player__img {
    @media #{$small-up} {
        padding:0 rem-calc(15) rem-calc(15);
    }
}

//Player metrics
.player-metrics {
    @extend %vertical-rithm;
    @extend .columns;
    @extend .text-center;
    font-size:rem-calc(18);

    @media #{$large-up}{
        font-size:rem-calc(23);
    }
}

.player-metric {
    @include grid-column(
    $columns:4,
    $collapse:true
    );
    @media #{$large-up} {
        padding:0 0.1em;
    }
    @media #{$xlarge-up} {
        padding:0 0.5em;
    }

}
.player-metric__inner {
    @media #{$small-only} {
        border:medium none;
    }
    @media #{$medium-only} {
        border:medium none;
    }

     @media #{$large-up} {
        @extend %bottom-line;
        @extend %top-line;
        border-color:$grey;
        padding-bottom:0.5rem;
    }
}

.player__icon {
    @media #{$large-up} {
        color:$red;
    }
}

.player__value {
    @media #{$large-up} {
        &:before {
            content: "\A ";
            white-space: pre;
        }
    }
}

//Helper buttons
.helper-buttons {
    @extend %vertical-rithm;
    @include grid-column(
    $columns:12,
    $collapse:true
    );
}

.helper-money {
    @extend %top-line;
    @extend %vertical-rithm;
    @include grid-column(
    $columns:12
    );
    @media #{$large-up} {
        border:medium none;
    }
    @media #{$xlarge-up} {
       @include grid-column(
        $columns:6
        );
    }
}

.helper-buttons__title {
    @extend .hide-for-large-up;
}
.helper-buttons__text {
    font-weight: 300;
    @extend .hide-for-large-up;
}
.helper-buttons__button {
    width:100%;
    text-transform: uppercase;
    font-weight: 400;
    font-size:0.9em;
}

// UNAR
.unar {
    @include grid-column(
        $columns:12
    );
    margin:1em 0;

    @media #{$large-up} {
        margin:2em 0 1em;
    }
}
.unar__img {
    background-color:$white;
    width:100%;
    padding: 0.5em 0.5em 1em;
}


//scelta block
.scelta {
    @extend .text-center;
}
.scelta__title {
    @extend %bottom-line;
}
.scelta__values {
    font-size:rem-calc(18);
    span {
        margin-right:0.5rem;
    }
}
.scelta__buttons {
    margin-top:1em;
    @extend %bottom-line;
    button {
        font-size:0.9em;
    }
}


// Helper modal

.scelta--helper {
    color:$black;
    @include headings() {
        color:$black;
    }
}

.scelta--conseguence {
    color:$black;
    @include headings() {
        color:$black;
    }
}

// end game
.page {
    margin-top:1em;
    max-width: 30rem;

    @extend .text-center;
    @extend %white;
    @include grid-column(
        $columns:12,
        $center:true
    );
    @media #{$large-up} {
        @include grid-column(
            $columns:6,
            $center:true
        );
    }
}

.page__title {
    @extend %white;
    font-weight:500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:rem-calc(27);
}

.page__text {
    //font-size:rem-calc(27);
    font-size:rem-calc(18);
    font-weight: 300;
}
