.start {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.message {
    text-align: center;
     @include grid-column(
            $columns:12
        );
    @media #{$medium-up} {
        @include grid-column(
            $columns:6,
            $center:true
        );
    } 
}