.variazione__item {
    background: $red;
    color:$white;
    font-weight: 300;
}
.variazione__item.fattore {
    background: #ddd;
    color:$black;
}


.irina {
    background:$irina;
}

.zhang {
    background:$zhang;
}

.fatima {
    background:$fatima;
}

.didier {
    background:$didier;
}


%white {
    color:$white;
    @include headings(1) {
        color:$white;
    }
}


/* SHAME */
//@import "modalFX";
