.variazione__item {
    background: $red;
    color:$white;
    font-weight: 300;
}
.variazione__item.fattore {
    background: #ddd;
    color:$black;
}

.alert-risk {
    .scelta__title:before {
        content: "\2b55";
        font-family: icomoon;
        margin-right: 15px;
        position: relative;
        top: -7px;
        //color:$alertRed;
    }
}
.bad {
    .dialog__title:after {
        content:"\e003";
        font-family: "icomoon";
        color:$alertRed;
        margin-left: 10px;
        position:relative;
        top:-4px;
    }
}
.good {
    .dialog__title:after {
        content:"\e004";
        font-family: "icomoon";
        color:$alertGreen;
        margin-left: 10px;
        position:relative;
        top:-4px;
    }
}

.irina {
    background:$irina;
}

.zhang {
    background:$zhang;
}

.fatima {
    background:$fatima;
}

.didier, .benjamin {
    background:$didier;
}


%white {
    color:$white;
    @include headings(1) {
        color:$white;
    }
}

%monospace-text {
    font-family: "fira mono";
    font-size: 1rem;
    line-height: 1.2;
}

%monospace-alt {
    font-family: "fira mono";
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
}


/* SHAME */
//@import "modalFX";
