*.DS_Store
css/*
js/build/app.js                           
js/build/app.min.js                        
js/build/home.min.js                       
js/build/static.min.js 
scenes/benjamin/all.json
scenes/irina/all.json
scenes/fatima/all.json
scenes/zhang/all.json
bower_components/*
node_modules/*
.sass-cache
nw/linux32
nw/linux64
nw/mac
nw/windows
nw/app.nw
nw/*
