<!doctype html>
<html ng-app="nmpApp" class="no-js" lang="it" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Nei Miei Panni - Game</title>
    
    <link rel="stylesheet" href="css/app.css" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>


<body class=" tep" data-ng-class="playerName.toLowerCase()">
    
    <div class="row off-canvas-wrap">
        <div class="inner-wrap">
            
            <!-- aside -->
            <aside id="sidebar" class="player left-off-canvas-menu" role="complementary" data-ng-controller="sidebar">

                <h1 class="player-title">{{ playerName }}</h1>    
                
                <img class="player__img" src="images/avatar/{{ playerName.toLowerCase() }}.png" alt="{{ playerName }}">
                    
                <section class="player-metrics">
                    <div class="player-metrics__step">
                        <section class="ng-binding">
                            <i aria-hidden="true" class="icon-time"></i>
                            [{{ scenes.currentIndex+1 }}/{{ scenes.scenes.length }}]
                        </section>
                    </div>

                    <div class="player-metrics__money">
                        <section class="ng-binding">
                            <i aria-hidden="true" class="icon-euro"></i>
                            &euro; {{ player.money }}
                        </section>
                    </div>

                    <div class="player-metrics__points">
                        <section class="ng-binding">
                            <i aria-hidden="true" class="icon-smile"></i>
                            pt {{ player.happiness }} <!-- indicatore pt -->
                        </section>
                    </div>
                </section>

                <section class="helper-buttons">

                    <div class="helper-money" data-ng-repeat="helper in helpers" data-ng-class="helper.class">
                        <h3 class="helper-buttons__title ng-binding">{{ helper.title }}</h3>
                        
                        <p class="helper-buttons__text ng-binding">{{ helper.text }}</p>
                        
                        <button data-ng-disabled="helper.disabled" data-ng-click="openHelper($index)" id="helper-1-call">
                            <span class="show-for-small-only">DAI</span>
                            <span class="hide-for-small-only ng-binding">{{ helper.title }}</span>
                        </button>
                    </div>
                </section>

                <footer class="unar">
                    <img class="unar__img" alt="UNAR - Ufficio Nazionale Antidiscriminazioni Razziali" src="images/unar.png">
                </footer>


                <!-- helper modal choice -->
                <div id="helper" class="helper md-modal md-effect-8" data-ng-class="{'md-show': open.helper}">
                    <div class="helper__inner md-content">
                        <h2 class="helper__title">{{ choice.title }}</h2>
                        <p class="helper__text">{{ choice.text }}</p>

                        <section class="helper__values">
                            <span>
                                <i class="icon-euro" aria-hidden="true"></i> {{ choice.money }}€
                            </span>
                            <span>
                                <i class="icon-smile" aria-hidden="true"></i> {{ choice.happiness }}pt
                            </span>
                        </section>

                        <section class="helper__buttons">
                            <button class="helper__go" id="go-thru-1" data-ng-click="getHelper()">OK</button>
                            <button class="helper__back back-to-scena" data-ng-click="closeHelper()">Indietro</button>
                        </section>
                        
                        <a class="md-close" data-ng-click="closeHelper()">&#215;</a>
                    </div>
                </div>

                <!-- helper modal conseguence -->
                <div id="helper-conseguence" class="helper helper--conseguence md-modal md-effect-8 text-center"  data-ng-class="{'md-show': open.conseguence}">
                    <div class="helper__inner md-content">
                        <h2 class="helper__title">{{ conseguence.title }}</h2>
                        <p class="helper__text">{{ conseguence.text }}</p>

                        <section class="helper__buttons">
                        <button id="go-thru-1" data-ng-click="closeHelper()">OK</button>
                        </section>
                        <a class="md-close" data-ng-click="closeHelper()">&#215;</a>
                    </div>
                </div>
            </aside>

            <!-- main section-->
            <section id="main" role="main" class="main-section" data-ng-controller="game">
                      
                <!-- nav trigger 4 small -->
                <nav class="tab-bar show-for-small-only">
                  <section class="left-small">
                    <!-- <i class="icon-freccia" aria-hidden="true"></i> -->
                    <a class="left-off-canvas-toggle menu-icon"><span></span></a>
                  </section>
                    <h1 class="title text-center">{{ playerName }}</h1>
                </nav>


                <!-- INTRODUZIONE block -->
                <article id="introduzione" class="introduzione small-12 columns text-center" data-scene>
                    <div class="introduzione__inner small-12 large-7 small-centered columns">
                        <h2 class="introduzione__title">Il lavoro</h2>
                        <p class="introduzione__text">Non riesci a trovare un impiego in regola con cui potresti rinnovare il permesso di soggiorno. Ma hai bisogno di soldi e decidi di accettare un lavoro in nero. Cosa scegli?</p>

                        <!-- <section class="introduzione__buttons">
                            <button ng-repeat="choice in scene.choices" data-ng-click="ui.showChoice.call(this)" ng-disabled="!choice.enabled">{{ choice.button }}</button>
                        </section> -->

                        <section class="introduzione__buttons">
                            <!-- ngRepeat: choice in scene.choices --><button ng-disabled="!choice.enabled" data-ng-click="ui.showChoice.call(this)" ng-repeat="choice in scene.choices" class="ng-scope ng-binding">Lavapiatti</button><button ng-disabled="!choice.enabled" data-ng-click="ui.showChoice.call(this)" ng-repeat="choice in scene.choices" class="ng-scope ng-binding">Facchino</button><button ng-disabled="!choice.enabled" data-ng-click="ui.showChoice.call(this)" ng-repeat="choice in scene.choices" class="ng-scope ng-binding">Manovale</button>
                        </section>
                    </div>
                </article>
            </section> <!-- end #main -->
        

        </div>
    </div>
    
    <!-- overlay for modals -->
    <div class="md-overlay"></div>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/appConfig.js"></script>
    <script src="js/appServices.js"></script>
    <script src="js/appControllers.js"></script>
    <script src="js/appDirectives.js"></script>
    <script src="js/appFilters.js"></script>
</body>
</html>
